server:
  port: 8080

telegram:
  bots:
    my_authentication_bot:
      url: t.me/my_authentication_bot
      name: MyAuthenticationBot
      username: my_authentication_bot
      token: "7890662189:AAEyDjtf4UL5tzy5ftN2Oxw0OwPJcld1PPE"

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/telegram_auth
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
  security:
    user:
      name: user
      password: password

logging:
  level:
    com.example.MyTelegramAuthentication: DEBUG